.Aloader {
  margin-top: -220px;
  width: 48px;
  height: 78px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  position: relative;
  border-radius: 50% 50% 50% 50% / 25% 25% 25% 25%;
  cursor: pointer;
  rotate: 180deg;
}

.Aloader::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #7d3cfd;
  animation: fadeDown 1s ease-out infinite;
}

@keyframes fadeDown {
  0% {
    top: 100%;
    opacity: 1;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}
